/* line 15, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar {
  /*
   * Sidebar
   */
  /*
   * Navbar
   */
  /*
   * Utilities
   */
}
/* line 16, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/* line 26, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 36, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}
/* line 46, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
/* line 51, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
/* line 56, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar .nav-link.active {
  color: #007bff;
}
/* line 60, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar .nav-link:hover .feather,
.show-sidebar .sidebar .nav-link.active .feather {
  color: inherit;
}
/* line 65, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/* line 74, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
/* line 82, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}
/* line 88, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
/* line 94, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
/* line 103, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .border-top {
  border-top: 1px solid #e5e5e5;
}
/* line 104, /home/abc/Rails/Property_management/app/assets/stylesheets/dashboard.scss */
.show-sidebar .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
/* line 5, /home/abc/Rails/Property_management/app/assets/stylesheets/properties.scss */
.property-thumb {
  height: 170px;
  background: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 11, /home/abc/Rails/Property_management/app/assets/stylesheets/properties.scss */
.property-thumb a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 18, /home/abc/Rails/Property_management/app/assets/stylesheets/properties.scss */
.property-main-photo {
  height: 600px;
  background-size: cover;
  margin-bottom: 40px;
  background-position-y: center;
}

/* line 25, /home/abc/Rails/Property_management/app/assets/stylesheets/properties.scss */
#prop-details {
  height: 160px;
  overflow: hidden;
}
/* line 29, /home/abc/Rails/Property_management/app/assets/stylesheets/properties.scss */
#prop-details.open {
  height: auto;
}
/* line 5, /home/abc/Rails/Property_management/app/assets/stylesheets/public.scss */
#notifications {
  display: none;
}

/* line 9, /home/abc/Rails/Property_management/app/assets/stylesheets/public.scss */
.img-circle {
  border-radius: 50%;
}

/* line 13, /home/abc/Rails/Property_management/app/assets/stylesheets/public.scss */
.test a {
  text-decoration: none;
  color: darkslategrey;
  display: block;
  font-size: large;
  width: 86%;
  padding: .75rem 1rem;
  background-color: #fffefefd;
  border-color: #ffffff1a;
  border-left: 1px solid #ffffff1a;
  border-right: 1px solid #ffffff1a;
  border-radius: 3px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /home/abc/Rails/Property_management/app/assets/stylesheets/application.scss */
.space {
  margin-top: 25%;
}
