<div class="text-center border pt-4 pb-4 ml-lg-4">
  <div class="mb-2">
    <%= profile_picture(user) %>
  </div>  
  <h2 class="h4"><%= user.full_name %></h2>
  <p><%= user.company %></p>

  <button class="btn btn-info text-uppercase">Call now</button>
  <button class="btn btn-success text-uppercase">Email</button>
</div>