// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notifications {
  display: none;
}

.img-circle {
  border-radius: 50%;
}

.test a{
  text-decoration: none;
  color: darkslategrey;
  display: block;
  font-size: large;
  width: 86%;
  padding: .75rem 1rem;
  background-color: #fffefefd;
  border-color: #ffffff1a;
  border-left: 1px solid #ffffff1a;
  border-right: 1px solid #ffffff1a;
  border-radius: 3px;
}